body {
    font-family: sans-serif;
    background-color: #f9d5e5;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #822c47;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #121011;
  }
  
  #message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .nama{
    position: fixed;
    background-color: #e0abc9;
    height: 20%;
    width: 20%;
    bottom: 35%;
    left: 40%;
    align-items: center;
    text-align: center;
    border-radius: 20px;
  }
 